.body {
  padding: 0; margin: 0;

}

.main {
  max-width: 1200px;
  width: 100%;
margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
}

.logo_text {
  float: left;
font-stretch: extra-condensed;
  font-size: 26px;
  font-weight: bold;
      margin-right: 0px;
      padding: 10px;
}

.logo_text a {
  color: black;
  text-decoration: none;
}

.logo_text a:hover {
  color: #777676;
}

.menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

.menu ul li a {
  padding-left: 15px;
}

.menu {
  float: left;
margin-bottom: 40px;
}

.menu ul {
  list-style: left: auto
}

.menu ul li a:link {
  text-decoration: none;
}

.menu ul li a:visited {
  text-decoration: none;
}

.menu ul li a:hover {
  text-decoration: none;
}

.menu ul li a:active {
  text-decoration: none;
}

.menu ul li a {
  color: #999;
}

.menu ul li a:hover {
  color: black;
}

.clear {
  clear: both;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;

}


.hero-text button:hover {
  background-color: #555;
  color: white;
}

.text1 {

      font-size: 36px;
      text-align: center;
      padding-top: 80px;
      padding-bottom: 80px;

}

.item p {color: grey;
  font-family: "proxima-nova";
      font-size: 20px;
      line-height: 1.5em;
      text-transform: none;
      letter-spacing: 0px;
      font-weight: 100px;
      font-style: normal;
      margin-top: 20px;
      padding-bottom: 1px;
      text-align: left;
}

.article {
  font-family: "proxima-nova";

}
.about {
    color: #575757;
    font-weight: 200;
    padding: 0;
    font-size: 30px;
    line-height: 1.5em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 50px;
    font-style: normal;
    margin-top: 1px;
    padding-bottom: 1px;
    text-align: left;

}



/* .shekil {
  background-image: url("download.jpg");
  height: 600px;
} */

.main_image {
  height: 600px;
  margin-left: 0;
  margin-right: 0;
}

.az {
  max-width: 1200px;
  width: 100%;
margin: auto;
  margin-top: 1px;
  margin-bottom: 80px;
}



.galery {
  width: 90%
  margin-top: 60px;
  margin-bottom: 1px;
}

.galery div {
  margin-bottom: 1px;
  float: left;
  width: 32%;
  text-align: center;

}

.galery div img {
  width: 100%

}

.center_image {
  margin-left: 2%;
  margin-right: 2%;
}

.vz {
  max-width: 1200px;
  width: 100%;
margin: auto;
  margin-top: 1px;
  margin-bottom: 80px;
}
.vz div {
  margin-bottom: 80px;
  float: left;
  width: 10%;
  text-align: center;
}

.square {
      border: 2px solid #091C32;
      width: 118px;
      padding: 12px;
      font-size: 12px;
}

.square a {
    color: #091C32;
    text-decoration: none;
}

.square:hover a {
    color: #fff;
}


.square:hover {
    background-color: #091C32;
}

.center_square {
  margin-left: 22%;
  margin-right: 22%;
      border: 2px solid #091C32;

      padding: 12px;
      font-size: 12px;
}

.center_square a {
    color: #091C32;
    text-decoration: none;
}

.center_square:hover a {
    color: #fff;
}


.center_square:hover {
    background-color: #091C32;
}

.footer {
  max-width: 1200px;
  width: 100%;
margin: auto;
  margin-top: 80px 80px 80px 80px;

}

p.b {

    font-style: italic;
    float: left;
    font-size: 28px;
    width: 50%;
}




.menu2 ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: button;
}

.menu2 ul li a {
  padding-left: 15px;
}

.menu2 {

  float: right;
  padding-right: 350px;
margin-bottom: 40px;
font-size: 15px;
line-height: 1.6em;
}

.menu2 ul {
  list-style: left: auto
}

.menu2 ul li a:link {
  text-decoration: none;
}

.menu2 ul li a:visited {
  text-decoration: none;
}

.menu2 ul li a:hover {
  text-decoration: none;
}

.menu2 ul li a:active {
  text-decoration: none;
}

.menu2 ul li a {
  color: #999;
}

.menu2 ul li a:hover {
  color: black;
}

/*
#diferent .menu2 ul {
  line-height: 3em;
}   bunu nece yaz bilerem?*/


.kub {
    border: 2px solid #091C32;
    width: 118px;
    padding: 20px;
    font-size: 11px;

}
.kub a {
    color: #091C32;
    text-decoration: none;
}

.kub:hover a {
    color: #fff;
}


.kub:hover {
    background-color: #091C32;
}


.sq a {
    background-color: grey;
    text-decoration: none;

}

h5 a {
    color: grey;
    cursor: pointer;
    text-decoration: none;
}
h5 {
  text-align:center;
}

.border_first{
  margin:0px 0px 80px 0px;
}

.border{
  margin:10% 0px 10px 0px;
}

@media only screen and (max-width: 850px) {
    .galery div {
      width: 49%;
    }
    .galery div {
      margin-left: 0%;
      margin-right: 1%;
    }
      .p {
        width: 100%
      }
      .menu2{
        float:left;
        width: 90%
      }
      }
    /* .item1 {
      height: 200px;
      }
      .center_image {
        margin-left: 2%;
      } */
      @media only screen and (max-width: 430px) {
          .galery div {
            width: 100%;
          }
          .galery div {
            margin-left: 2%;
            margin-right: 2%;
          }
          .p {
            width: 100%
          }
          .menu {
            width: 96%;
            margin-top: 2%;
            margin-bottom: 2%;
          }
            .menu2{
              float:left;
               width: 90%

            }
          }
